
/_ReSharper.Fedlet
/Fedlet/bin
/Fedlet/obj
/SampleApp/bin
/SampleApp/obj
/Fedlet.suo
/Fedlet.5.1.ReSharper.user
/Fedlet.5.9.TeamCity.user
Fedlet/Fedlet.csproj.user
SampleApp/SampleApp.csproj.user
Fedlet.UnitTests/bin/*
Fedlet.UnitTests/obj/*